{% load static %}

<html>
    
    <head>  
    
        <title>GIS Toolbox</title>
    
        <link rel="stylesheet" href="{% static 'map/css/map.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin=""/>
        
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'leaflet\js\leaflet.browser.print.min.js' %}"></script>


    </head>

    <body>
        <div id="cont-main">
            <div id="cont-hd">
                <p id="hd-coords"></p>
            </div>
            <div id="cont-sb">
                <div id="sb-btns">
                    <button class="sb-btn" onclick=toggleFullscreen()>
                        <i class="bi bi-arrows-fullscreen"></i>
                    </button>
                    <button class="sb-btn" onclick=printMap()>
                        <i class="bi bi-printer"></i>
                    </button>
                </div>
            </div>
            <div id="map"></div>
        </div>
    </body>

</html>

<script src="{% static 'base/js/base.js' %}"></script>
<script src="{% static 'map/js/map.js' %}"></script>
