body {
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.pointer-coordinates {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(190, 190, 190);
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 15;
    align-items: center;
    border: 2px solid;
}

.pointer-coordinates-contents {
    align-items: center;
    text-align: center;
}