body {
    overflow: hidden;
}

#container{
    height: 100%;
    width: 100%;
    position:relative;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#header {
    height: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    opacity: 50;
}